#root {
    padding: 2rem;
    background-color: #c7daff;
}

.app {
    background-color: #c7daff;
    color: rgb(174, 11, 54);
}

.table-style {
    background-color: #aec3ed;
}

:link {
    padding: 10pt;
}

tr,td {
    border: 2px solid rgb(17, 73, 170);
    color: rgb(174, 11, 54);
    padding: 2px;
}

tr,th {
    border: 2px solid rgb(17, 73, 170);
    color: rgb(174, 11, 54);
    padding: 2px;
}

h1 {
    color: rgb(174, 11, 54);
}